#main {
    margin: auto;
	border: 1px solid #cccccc;
	width: 450px;
    min-height:150px;
	background: #F1F3F5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size : 12px;
}

form {
    margin-left: 70px;
	border: 1px solid #cccccc;
	width: 350px;
	background: #E9ECEF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size : 12px;
    padding:5px;
    margin-bottom:10px;
}

#result {
    margin-left: 70px;
    margin-top:40px;
	border: 1px solid #cccccc;
	width: 350px;
	background: #E9ECEF;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size : 12px;
    padding:5px;
}

.error {
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size : 10px;
    color:#dd1111;
    padding:5px;

}


.text {
	border: 1px solid #cccccc;
}

input {
    border: 0px solid #cccccc;
}


#caption{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    margin:10px;
    font-size : 14px;
    color:#C64934;
}

#icon{
    width:60px;
    height:100px;
    float:left;
    background-image:url(icon.gif);
    background-repeat: no-repeat;
    background-position:center center;
}
